<div class="container">
	<!--img banner //-->
	<div class="public-banner">
		<div class="row">
			<div class="col-lg-12">
				<img src="img/banner-about.jpg" width="1170" height="500" 
					alt="GRU Restaurant About Banner">
			</div>
		</div>
	</div>
	<!-- about //-->
	<div class="page-body">
		<div class="row">
			<div class="col-lg-5">
				<h2 class="large">Great people, great food, good times.</h2>
				<div class="about-social-media">
					<a href="#"><i class="fab fa-facebook"></i></a>
					<a href="#"><i class="fab fa-twitter-square"></i></a>
					<a href="#"><i class="fab fa-pinterest"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<p>
					<small>
						GRU Restaurant<br>
						72 Wilton Rd<br>
						Salisbury<br>
						Great Britain<br>
					</small>
				</p>
			</div>
			<div class="col-lg-6 col-lg-offset-1">
				<h3>Out Story</h3>
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam laboriosam labore dolores eveniet perferendis, quas amet fugit, excepturi molestias? Esse odio impedit numquam sapiente perspiciatis cupiditate vitae eos cum, harum.</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur eveniet consequuntur ratione a. Sunt totam sapiente maiores corporis natus exercitationem, illo commodi? Expedita molestias aliquam iste molestiae. Pariatur, qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis fugiat dolorem, velit, est numquam necessitatibus exercitationem ipsum, perferendis in architecto magni. Ab deleniti alias, atque facilis est tenetur accusamus obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quis assumenda distinctio laudantium dolore laboriosam modi consequatur, numquam natus, eius ea neque totam porro aspernatur qui aperiam recusandae possimus iste.</p>
			</div>
		</div>
	</div>
</div>

<%- partial("partial/_reservation-modal") %>