<div class="container">
	<!--img banner //-->
	<div class="public-banner">
		<div class="row">
			<div class="col-lg-12">
				<img src="img/banner.jpg" width="1170" height="500" 
					alt="GRU Restaurant Banner">
			</div>
		</div>
	</div>
	<!-- about //-->
	<div class="home-about">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
					<h2>About</h2>
					<div class="row">
						<div class="col-lg-6 col-lg-offset-3">
							<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ratione, nisi maiores possimus culpa ut quas quae earum itaque, soluta reprehenderit neque eos. Placeat ratione, sapiente nemo expedita enim a.</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- food thumbs -->
	<div class="home-food">
		<div class="row">
			<div class="col-lg-3">
				<a href="menu.html">
					<img src="img/food-feature1.jpg" width="250" 
						height="250" alt="Food Feature 1">
				</a>
				<h4>Tea</h4>
			</div>
			<div class="col-lg-3">
				<a href="menu.html">
					<img src="img/food-feature2.jpg" width="250" 
						height="250" alt="Food Feature 2">
				</a>
				<h4>Dessert</h4>
			</div>
			<div class="col-lg-3">
				<a href="menu.html">
					<img src="img/food-feature3.jpg" width="250" 
						height="250" alt="Food Feature 3">
				</a>
				<h4>Alcoholic Beverages</h4>
			</div>
			<div class="col-lg-3">
				<a href="menu.html">
					<img src="img/food-feature4.jpg" width="250" 
						height="250" alt="Food Feature 4">
				</a>
			<h4>Souvenirs</h4>
			</div>
		</div>
	</div>
<!-- review slider //-->
	<div class="reviews">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
					<h2>Reviews</h2>
					<div id="carousel-reviews" class="carousel slide"
						data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-reviews" data-slide-to="0" 
								class="active"></li>
							<li data-target="#carousel-reviews" data-slide-to="1" 
								class="active"></li>
							<li data-target="#carousel-reviews" data-slide-to="2" 
								class="active"></li>
						</ol>
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<p>That is the best NOVICHOK i've ever had! 
									I highly recommend trying the NOVICHOK for lunch!</p>
							</div>
							<div class="item">
								<p>The polonium tea is to die for. Make sure you save
									enough room after you drink your NOVICHOK.</p>
							</div>
							<div class="item">
								<p>They have some of the best items in 
								the Nina Ricci's collection. So romantic fragrances 
								in the evening.</p>
							</div>
						</div>
						<!-- Controls -->
						<a class="left carousel-control" 
							href="#carousel-reviews" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"
									aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
							</a>
						<a class="right carousel-control" 
							href="#carousel-reviews" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"
									aria-hidden="true"></span>
									<span class="sr-only">Next</span>
							</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%- partial("partial/_reservation-modal") %>