<div class="container">
	<!-- page body //-->
	<div class="page-body">
		<!-- appetizers //-->
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Appetizers</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h3>Garlic Bread</h3>
				<p>Delicious pan fried bread with olive oil.</p>
				<p class="price">$7</p>
			</div>
			<div class="col-lg-4">
				<h3>Chicken Wings</h3>
				<p>One dozen wings, come in hot or bbq flavour.</p>
				<p class="price">$12</p>
			</div>
		</div>
	</div>
</div>